<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Equipamentos</title>

    <!-- Bootstrap theme -->

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="node_modules/angular-ui-grid/ui-grid.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,300,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>



<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Sistema para controle de manutenção de
                        equipamentos <span class="sr-only">(Página atual)</span></a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container-fluid" ng-controller="IndexController">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Serviços<button type="button" class="btn btn-success float-right"
                            data-toggle="modal" data-target="#modalServico">Iniciar atendimento</button></h5>
                    <div class="card-body">

                        <div ui-grid="gridOptions2" ui-grid-pagination ui-grid-exporter class="grid"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h5 class="card-header">Clientes <button type="button" class="btn btn-primary float-right"
                            data-toggle="modal" data-target="#modalCliente">Novo</button></h5>
                    <div class="card-body">

                        <div ui-grid="gridOptions1" ui-grid-pagination ui-grid-exporter class="grid"></div>
                    </div>
                </div>
            </div>

        </div>


        <div class="modal fade" id="modalServico" tabindex="-1" role="dialog" aria-labelledby="modalServico"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Atendimento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <form>
                                <h5>Equipamento</h5>
                                <div class="form-group">
                                    <label class="col-form-label">Marca:</label>
                                    <input placeholder="Marca" required type="text" class="form-control"
                                        ng-model="servico.marca">
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Tipo:</label>
                                    <input placeholder="Tipo" required type="text" class="form-control"
                                        ng-model="servico.tipo">
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Descrição problema:</label>
                                    <input placeholder="Descrição do problema" required type="text" class="form-control"
                                        ng-model="servico.problema">
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Cliente:</label>
                                    <select class="form-control" ng-model="servico.id_cliente">
                                        <option ng-repeat="cliente in clientes" ng-value="cliente.id">{{cliente.nome}}
                                        </option>
                                    </select>
                                </div>


                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" type="submit"
                                ng-click="SalvarServico(servico)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="modalCliente"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Novo Usuário</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label class="col-form-label">Nome:</label>
                                    <input placeholder="Nome" required type="text" class="form-control"
                                        ng-model="cliente.nome">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Telefone:</label>
                                    <input placeholder="Telefone" type="text" class="form-control"
                                        ng-model="cliente.telefone">
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Estado:</label>
                                    <select ng-change="ConsultarCidades(cliente.estado)" class="form-control"
                                        ng-model="cliente.estado">
                                        <option ng-repeat="estado in estados" ng-value="estado.id">{{estado.nome}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Cidade:</label>
                                    <select class="form-control" ng-model="cliente.cidade.id_cidade">
                                        <option ng-repeat="cidade in cidades" ng-value="cidade.id">{{cidade.nome}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="col-form-label">Endereço:</label>
                                    <input placeholder="Endereço" type="text" class="form-control"
                                        ng-model="cliente.endereco">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Email:</label>
                                    <input placeholder="Email" type="text" class="form-control"
                                        ng-model="cliente.email">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" type="submit"
                                ng-click="SalvarCliente(cliente)">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Angular scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>

    <script src="node_modules/angular-ui-grid/ui-grid.js"></script>
    <!-- Controllers -->
    <script src="js/controller.js"></script>




</body>

</html>